[Unit]
Description=Streamlit App
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/html/gestor
ExecStart=/var/www/html/gestor/venv/bin/streamlit run main.py --server.port 8501 --server.headless true --server.fileWatcherType none
Restart=always

[Install]
WantedBy=multi-user.target
